@import url('https://fonts.googleapis.com/css2?family=Bree+Serif&family=Josefin+Sans:wght@300;700&display=swap');

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0px;
}

/* about page */

body {
    width: 100vw;
    height: 100vh;
    gap: 10px;
    padding: 20px;
    box-sizing: border-box;
    font-family: 'Bree Serif', serif;
}

#about {
    display: grid; 
    grid-template: 80px 6fr 1fr 50px / 4fr 3fr;
}


li, a {
    font-weight: 500;
    font-size: 1rem;
    color: black;
    text-decoration: none;
}

/* header */

header {
    display: flex;
    justify-content: space-between;
    grid-area: 1 / 1 / span 1/ span 2;
}

/* logo */

.logo {
    cursor: pointer;
    display: flex;
    justify-content: flex-start;
}

.fa-rocket {
    padding: 5px;
}

/* nav bar and shortcut icons*/
.nav {
    flex-grow: 2;
}

.nav-link, .shortcut-link {
    list-style-type: none;
}

.nav-link li {
    display: inline-block;
    padding: 0 20px;
}

.shortcut-link li {
    display: inline-block;
    padding: 0 10px;
}

.nav-link li a, .shortcut-link li a {
    transition: all 0.3s ease 0s;
}

.nav-link li a:hover, .shortcut-link li a:hover, .logo:hover {
    color: #0088a9;
}

/* about me */
#about-me {
    align-self: center;
    padding: 30px;
}

.about-me-title, .about-me-p {
    font-family: 'Josefin Sans', sans-serif;
}

.about-me-title {
    font-size: 3rem;
    font-weight: 700;
}

.l2 {
    text-indent: 1em;
}

.l3 {
    text-indent: 2em;
}

.about-me-p {
    margin-top: 5px;
    padding: 5px;
    font-size: 1.2rem;
    line-height: 1.5;
}

/* portrait */
#portrait {
    align-self: center;
}

#portrait img {
    width: 100%;
}
/* skills section */

#skills {
    grid-area: 3 / 1 / span 1/ span 2;

}

#skills-container {
    margin-top: 8px;
    display: flex;
    width: 100%;
    justify-content: space-around;
    flex-wrap: wrap;
}

/* footer */

footer {
    grid-area: 4 / 1 / span 1/ span 2;
    text-align: center;
}

/* contact page */
#contact {
    display: grid; 
    grid-template: 80px 1fr 3fr 50px / 3fr 4fr;
}

#contact-title {
    grid-area: 2 / 1 / span 1/ span 2;
    align-self: center;
}

#my-info {
    display: flex;
    flex-direction: column;
}

.my-info-item {
    display: flex;
    padding: 10px;
}

.my-info-item i {
    padding: 10px;
    color: #0088a9;
}

.my-info-item h3 {
    padding: 10px;
}

/* form */

form {
    display: grid;
    grid-template: 1fr 1fr 1fr 1fr 1fr/ 3fr 4fr;
    grid-auto-flow: column;
    grid-gap: 8px;
    padding: 10px;
}

#message {
    grid-area: 1 / 2 / span 3 / span 1;
}

input, textarea {
    padding: 5px;
    border-radius: 5px;
    font-family: 'Bree Serif', serif;
}

#submit {
    border-color: #0088a9;
    background-color: white;
}

#submit:hover {
    background-color: #0088a9;
    color: white;
}

#snowboarder-skier {
    grid-area: 4 / 1 / span 1 / span 2;
    justify-self: start;
}

.heart {
    color: red;
}

/* responsive design */

@media only screen and (max-width: 768px) {
    .logo h1 {
        display: none;
    }
    
    #portrait {
        display:none;
    }

    #about {
        display: grid; 
        grid-template: 80px 6fr 1fr 50px / 4fr 0.1fr;
    }

    form {
        display: flex;
        flex-direction: column;
        width: 90%;
    }

    form * {
        flex-shrink: 1;
    }

}

@media only screen and (max-width: 480px) {
    html {
        font-size: 12px;
    }

    /* contact page */
    #contact {
        display: flex; 
        flex-direction: column;
    }
}